@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@keyframes portofolioLoad {
    from {
        transform: translateX(250%);
    }

    to {
        transform: translateX(0%);
    }
}

html {
    overflow-x: hidden;
}

.ctext {
    text-align: center;
}

.pshowcase-title {
    width: 50%;
    margin: auto;
    margin-bottom: 2%
}

.about-text-title {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}

.about-text {
    font-family: 'Mulish', sans-serif;
}

.portofolio-text {
    font-family: 'Poppins', sans-serif;
}

.card-img-max-height {
    max-height: 15%;
}

.portofolio-card-load {
    animation: portofolioLoad 2s;
}