<nav class="bg-gray-100">
    <h1 class="font-sans font-bold text-2xl inline ml-5">
        <a href="/">Marios Mitsios</a>
    </h1>
    <ul class="inline mx-7 text-lg">
        <li class="inline font-medium underline"><a href="/">Home</a></li>
        <li class="inline mx-2"><a href="/#experience">Experience</a></li>
        <li class="inline mx-2"><a href="/#projects">Projects</a></li>
        <li class="inline mx-2"><a href="/#tools">Tools</a></li>
        <li class="inline mx-2"><a href="/#other">Other</a></li>
        <li class="inline mx-2"><a href="/#blog">Blog</a></li>
    </ul>
</nav>
